body {
	padding-top:20px;
	padding-left: 60px;
	padding-right:60px;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	}
	h4{
	text-align:center;
	text-transform:uppercase;
	color:#4272d7;
	}
	h1{
	text-align:center;
	text-transform:uppercase;
	color:#00bcd4;
	padding-top: 30px;
	}
	div.panel-body{
	padding:25px;
	line-height:1.8em;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	#log{
	text-transform:capitalize;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
	text-align:center;
	width: 100%;
	}
	.s{
		display:flex;
		justify-content:center;
	}
	
	
	#btn{
	float: left;
	background: #4272d7;
	white-space: nowrap;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	transition: all .2s ease-out, color .2s ease-out;
	border: 0;
	cursor: pointer;
	padding: 10px;
	}
	
	#btn:hover,#btn1:hover{
	background: #9494ff;
	}
	
	#btn1{
	float: right;
	background: #4272d7;
	white-space: nowrap;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	transition: all .2s ease-out, color .2s ease-out;
	border: 0;
	cursor: pointer;
	padding: 10px;
	
	}
	
	footer{
	padding:8px;
	color:#262626;
	margin-top:25px;
	text-align: center;
	font-family:Arial;
	font-size:18px;
	}

	#senti{
		color: white;
		align-items: center;
		background-color: rgb(54, 192, 36);
		border-radius: 10px;
		border:1px solid green;
		padding: 10px;
	}
/*
  body {
	padding-left: 100px;
	padding-right:100px;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  h4{
	  text-align:center;
	  text-transform:uppercase;
      color:mediumslateblue;
  }
  
  h1{
    text-align:center;
    text-transform:uppercase;
    color:#00bcd4;
    padding-top: 30px;
}
  
  div.panel-body{
	  padding-top:10px;
	  line-height:1.8em;
	  color: black;
	  background: #eee;

	
    }
	  a{
	  color:#2bb842;
      
	    }
  #log{
    text-decoration:none;
	color: black;
    border:2px solid rgb(34, 14, 146);
	text-transform:uppercase;
    text-transform:capitalize;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
    border-spacing: 1cm;
    text-align:center;
    width: 100%;
  }

 
 
  #btn{
	color: rgb(66, 18, 156);
	float: left;
	background-color: cornsilk;
	border-radius: 10px;
	border:1px solid green;
	padding: 10px;

}  
 
#btn1{
	color: rgb(66, 18, 156);
	float: right;
	background-color: cornsilk;
	border-radius: 10px;
	border:1px solid green;
	padding: 10px;

}  

#senti{
	color: white;
	align-items: center;
	background-color: rgb(54, 192, 36);
	border-radius: 10px;
	border:1px solid green;
	padding: 10px;
}

*/